.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    color: #3ac410; /* Green */
}

.btn-highlight {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px #999;
}

.btn-highlight:hover {
    background-color: #45a049;
}

.btn-highlight:active {
    background-color: #45a049;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.btn-red {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px #999;
}

.btn-red:hover {
    background-color: #e53935;
}

.btn-red:active {
    background-color: #e53935;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.buttons__sorteio {
    margin-top: 20px;
}

.buttons__resetar {
    margin-top: 20px;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabela .comprada {
    background-color: #f44336; /* Red */
    color: white;
}

.tabela .disponivel {
    background-color: #4CAF50; /* Green */
    color: white;
}

.tabela .selecionado {
    background-color: #ffeb3b; /* Yellow */
    color: black;
}